@font-face{
	font-family: OpenSans;
	src:url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  	font-family: 'Lato';
  	src:url('../fonts/Lato-Regular.eot') format('eot'),
    	url('../fonts/Lato-Regular.woff') format('woff'),
    	url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  	font-family: 'Lato-Thin';
  	src:url('../fonts/Lato-Thin.woff2') format('woff2'),
		url('../fonts/Lato-Thin.ttf') format('truetype');
}


html {
	height: 100vh;
	width: 100%;
}

body {
	min-height: 100%;
	width: 100%;
	color: #373A3C !important;
	font-family: Lato;
	background-color: #ddd;
	overflow-y: scroll;
	overflow-x: hidden;
}

a,a:hover,a:active,a:focus {
	text-decoration: none;
}

select {
	cursor: pointer !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.btn {
	border-radius: 2px !important;
}

#header {
	position: fixed;
	left: 0;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #145995;
	padding-left: 30px;
	padding-right: 30px;
	z-index: 2;
}

#logout-btn,
#logout-btn:hover,
#logout-btn:active,
#logout-btn:focus {
	color: #FFFFFF;
	text-decoration: none;
}

#header-left, #header-right{
	float: left;
	height: 100%;
	width: 50%;
}

#header-left{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}

#header-right{
	text-align: right;
	position: relative;
}

#user-icon-container{
	float: right;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
	cursor: pointer;
}

#header-logo{
	height: 100%;
	margin-right: 10px;
}

#header-company-name{
	color: #FFFFFF;
	font-size: 24px;
}

#header-user-name{
	margin-top: 1px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	text-transform: capitalize;
}

#header-display-pic{
	border-radius: 5px;
	margin-left: 10px;
	height: 38px;
}

#profile-options{
	position: absolute;
	right: 0;
	height: 100%;
	padding-top: 1px;
	font-weight: bold;
	text-transform: lowercase;
	color: #FFFFFF;
	font-size: 15px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
	cursor: pointer;
}

#separator{
	margin-left: 5px;
	margin-right: 5px;
}

.left-panel {
	position: fixed;
	left: 0;
	top: 60px;
	height: calc(100vh - 60px);
	width: 230px;
	background-color: #2C2C2D;
	padding-top: 30px;
}

.panel-nav-item {
	position: relative;
	height: 30px;
	padding-left: 30px;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	color: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
	cursor: pointer;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
}

.panel-nav-item i {
	padding-right: 10px;
	font-size: 18px !important;
}

.panel-nav-item.active {
	background-color: #494949;
}

.panel-nav-item:not(.active):hover {
	background-color: #242424;
}

.panel-nav-item.active:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	border: 2px solid #3C85B6;
}

.nav-label {
	font-size: 15px;
}

.content {
	width: 100%;
	padding-left: 260px;
	padding-top: 90px;
	padding-right: 30px;
}

.board-container {
	padding: 10px;
}

.board {
	float: left;
	height: 140px;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
}